<form (ngSubmit)="onSubmit()" [formGroup]="authorForm">
  <div class="form-row mt-5 mb-2">
    <div class="col-md-8 col-12 mt-md-0 mt-1">
      <label class="sr-only" for="inputAuthor">Add author</label>
      <input id="inputAuthor" type="text" class="form-control" placeholder="author name" autocomplete="off" required
             #inputAuthor formControlName="name"/>
      <div *ngIf="name.invalid && name.dirty" class="text-danger">
        <div *ngIf="name.errors['required']">Name is required.</div>
        <div *ngIf="name.errors['minlength']">Author name must have minimum length 2.</div>
      </div>
    </div>
    <div class="col-md-3 col-12 mt-md-0 mt-2">
      <button type="submit" title="Insert author" class="btn btn-primary btn-block"
              [disabled]="!authorForm.valid">
        Insert
      </button>
    </div>
    <div class="col-md-1 mt-md-0 pt-2 pl-3 d-none d-md-block">
      <i class="far fa-question-circle text-muted"
         tooltip="Type the author name in the text box and click the Insert button to register it."
         container="body"></i>
    </div>
  </div>
</form>

