<form (ngSubmit)="submit()" [formGroup]="bookForm">
  <div class="input-group">
    <input #input type="text" class="form-control" placeholder="book title" required minlength="2" name="title"
           formControlName="title" (keydown.esc)="cancel()"/>
    <div class="input-group-append">
      <button type="submit" class="btn btn-success" title="Save" (click)="submit()"
              [disabled]="!bookForm.valid">
        <i class="fas fa-check"></i>
      </button>
    </div>
    <button class="btn btn-link" title="Cancel" (click)="cancel()">Cancel</button>
  </div>
  <div *ngIf="title.invalid && title.dirty">
    <div *ngIf="title.errors['required']" class="text-danger">Book title is required</div>
    <div *ngIf="title.errors['minlength']" class="text-danger">Book title must have minimum length 2</div>
  </div>

</form>
