<form>
  <div class="form-row mt-5 mb-2">
    <div class="col-8">
      <label class="sr-only" for="inputAuthor"> Add author </label>
      <input id="inputAuthor" type="text" class="form-control" name="name" [(ngModel)]="author.name"
             placeholder="author name"/>
      <small class="form-text text-muted">This will be the author name</small>
    </div>
    <div class="col-2">
      <button type="submit" title="Insert author" class="btn btn-primary btn-block mr-3" (click)="insert()">Insert
      </button>
    </div>
    <div class="col-2 pl-3 pt-2">
      <i class="far fa-question-circle" style="color: grey; font-size: larger"
         tooltip="Type the author name in the text box and click the Insert button to register it."
         container="body"></i>
    </div>
  </div>
</form>

<app-list-authors></app-list-authors>

