<h3>Books
  <button class="btn btn-primary btn-sm" (click)="newBook = true">
    <i class="fas fa-plus"></i> New book
  </button>
</h3>

<app-insert-book *ngIf="newBook" [authorId]="authorId" (saved)="saved($event)"></app-insert-book>

<div class="alert alert-primary" role="alert" *ngIf="!books?.length && !newBook">
  Author does not have any books registered.
</div>

<div *ngIf="books?.length">
  <table class="table table-borderless table-hover">
    <tbody>
    <tr *ngFor="let book of books">
      <td>
        <div *ngIf="editBookId !== book.id">
        {{book.title}}
        <button class="btn btn-link hover-show" title="Edit title" (click)="editBookId = book.id">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-link hover-show" title="Delete book" (click)="deleteBook(book.id)">
          <i class="fas fa-backspace"></i>
        </button>
        </div>
        <app-update-book *ngIf="editBookId == book.id" [book]="book" [authorId]="authorId" (updated)="updated($event)"></app-update-book>
      </td>
    </tr>
    </tbody>
  </table>
</div>

