<form [formGroup]="authorForm" (ngSubmit)="save()">
  <div class="input-group">
    <input type="text" class="form-control" required #updateAuthor formControlName="name" (keydown.esc)="cancel()"/>
    <div class="input-group-append">
      <button type="submit" class="btn btn-success" title="Save" [disabled]="!authorForm.valid">
        <i class="fas fa-check"></i>
      </button>
    </div>
    <button class="btn btn-link" title="Cancel" (click)="cancel()">Cancel</button>
  </div>
  <div *ngIf="name.invalid && name.dirty" class="text-danger">
    <div *ngIf="name.errors['required']">Name is required.</div>
    <div *ngIf="name.errors['minlength']">Author name must have minimum length 2.</div>
  </div>
</form>
