<i class="ico-grip" title="Drag to move"
   onmouseover="this.style='color: black !important'" onmouseout="this.style=''"></i>

<span class="mr-3">{{book.title}}</span>

<a [routerLink]="" class="mr-2 hover-show link-unhover" title="Edit title" (click)="editBook()"
   onmouseover="this.classList.add('link-hover'); this.classList.remove('link-unhover')"
   onmouseout="this.classList.remove('link-hover'); this.classList.add('link-unhover')">
  <i class="ico-edit"></i>
</a>

<a [routerLink]="" class="mr-2 hover-show link-unhover" title="Delete book"
   (click)="openModal(template, authorId, book.id)"
   onmouseover="this.classList.add('link-hover'); this.classList.remove('link-unhover')"
   onmouseout="this.classList.remove('link-hover'); this.classList.add('link-unhover')">
  <i class="ico-remove"></i>
</a>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Warning</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this book?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="deleteBook()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
