<app-insert-author
  (authorSubmitted)="insertAuthor($event)">
</app-insert-author>

<app-added-author-alert
  *ngIf="createdAuthor"
  [author]="createdAuthor"
  (authorCreatedClear)="authorCreatedClear()">
</app-added-author-alert>

<app-list-authors
  [filter]="filter"
  [sort]="sort"
  [authors]="authors"
  [createdAuthor]="createdAuthor"
  (filterChange)="onFilterChange($event)"
  (filterClear)="onClearFilter()"
  (sortChange)="onSortChange()"
  (authorDelete)="onAuthorsDelete($event)">
</app-list-authors>

<app-paginate-authors
  [currentPage]="currentPage"
  [totalItems]="totalItems"
  (pageChanged)="onPageChange($event)">
</app-paginate-authors>
