<div>
  <h3>Authors</h3>

  <div class="alert alert-primary" role="alert" *ngIf="authors?.length < 1">
    No authors yet
  </div>

  <ul class="list-group" *ngIf="authors">
    <li class="list-group-item" *ngFor="let author of authors">
      {{author.name}}
      <button type="button" title="Delete"class="btn btn-link float-right" (click)="openModal(template, author.id)">
        <i class="fas fa-backspace"></i>
      </button>
    </li>
  </ul>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Warning</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this author?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="delete()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()" >No</button>
  </div>
</ng-template>
