<h2>Authors</h2>

<div class="row">

  <div class="col-12">

    <div class="alert alert-primary" role="alert" *ngIf="!authors?.length">
      No authors.
    </div>

    <table *ngIf="authors" class="table table-borderless table-hover">
      <thead>
      <tr>
        <th>
          <app-sortable-control label="Name" (updatedSort)="onChangedSort($event)"></app-sortable-control>
          <app-filter-control (updated)="onFilterUpdated($event)"></app-filter-control>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors">
        <td>
          <a class="mr-3" routerLink="/author/{{author.id}}">{{author.name}}</a>
          <a routerLink="" title="Delete" class="hover-show" (click)="openModal(template, author.id)">
            <i class="fas fa-backspace"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<pagination *ngIf="totalItems > 10" [totalItems]="totalItems" [itemsPerPage]="10"
            (pageChanged)="pageChanged($event)"></pagination>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Warning</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this author?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="delete()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
