<button class="btn btn-default btn-sm" *ngIf="!book" (click)="addBook()">
  <i class="fas fa-plus"></i> New book
</button>

<div *ngIf="book" class="input-group">
  <input #inputBook type="text" class="form-control" placeholder="book title"
         [(ngModel)]="book.title" (keydown.enter)="save()" (keydown.esc)="cancel()"/>
  <div class="input-group-append">
    <button class="btn btn-success" title="Save" (click)="save()"><i class="fas fa-check"></i></button>
  </div>
  <button class="btn btn-link" title="Cancel" (click)="cancel()">Cancel</button>
</div>
